AutoDimension/Service References/ServiceReference/DimService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:43966/DimService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:unsignedLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetUserResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAuthority">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:unsignedLong" />
        <xs:element minOccurs="0" name="UserKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAuthorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserAuthorityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPartInViewBox">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="partMinPoint" nillable="true" type="q2:Point" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="partMaxPoint" nillable="true" type="q3:Point" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="viewMinPoint" nillable="true" type="q4:Point" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="viewMaxPoint" nillable="true" type="q5:Point" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPartInViewBoxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsPartInViewBoxResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JudgeLineSlope">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="pt1" nillable="true" type="q6:Point" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="pt2" nillable="true" type="q7:Point" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JudgeLineSlopeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JudgeLineSlopeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsTwoPointEqual">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="point1" nillable="true" type="q8:Point" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="point2" nillable="true" type="q9:Point" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsTwoPointEqualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsTwoPointEqualResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLineIntersectWithLineSegment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="pt1" nillable="true" type="q10:Point" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="pt2" nillable="true" type="q11:Point" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="pt3" nillable="true" type="q12:Point" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="pt4" nillable="true" type="q13:Point" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLineIntersectWithLineSegmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsLineIntersectWithLineSegmentResult" type="xs:boolean" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="intersectPt" nillable="true" type="q14:Point" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>